<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/all.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <div class="logo">
            <img src="../imgs/logoarayaz.jpg">
          </div>
          <div class="items">
            <a href="Home.html" class="active">Home</a>
            <a href="login.html">Admission & Programe</a>
            <a href="Contact.html">Contact</a>
            <a href="About.html">About</a>
          </div>
      <!-- login form -->
          <div class="other">
            <button><a href="login.html" class="href">Login</a></button> 
          </div>
    
          <!-- registeration -->
          <div class="other">
            <button > <a href="register.html" class="href"> sign up</a></button> 
          </div>
          
        </nav>
      </header>
<div><br><br>
    <h2>About Kallamino Special High School</h2>
        <p>This   Special High school is only dedicated to Tigrian brilliant <br>students  located on Mekelle 
            it was established since 1990 E.c (19998 GC). This school was one of <br>the expression of tigray's 
            students excellency in acadamic and ethics. the main purpose is to <br>eliminate poverty and lack of 
            educated man in this region with respective economical status. <br>it mainly focuses on Natural science and 
            Ethics with Technology. 
        </p>
        <img src="photo_2023-11-25_01-28-17.jpg" alt="">
</div>
</body>
</html>