<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../CSS/all.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admission</title>
</head>
<body>
  
    <!-- header file  -->
  <header>
    <nav>
      <div class="logo">
        <img src="../imgs/logoarayaz.jpg">
      </div>
      <div class="items">
        <a href="Admin.html" class="active">Home</a>
        <a href="Admission.html">Admission & Programe</a>
        <a href="#">Notifications</a>
        <a href="#">About KSHS</a>
      </div>
  <!-- login form -->
      <div class="other">
        <button><a href="Home.html" class="href">Logout</a></button> 
      </div>

      <!-- registeration -->
     
      
    </nav>
  </header>
  
  <!-- Hero Section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="info">
          <h2>See the available programms and admission on this dashboard</h2><br>
          <select name="" id="">
              <option value="English">English</option>
              <option value="maths">maths</option>
              <option value="Physics">Physics</option>
              <option value="chemistry">chemistry</option>
              <option value="Biology">Biology</option>
              <option value="ICT">ICT</option>
              <option value="TD">TD</option>
              <option value="Tigrigna">Tigrigna</option>
              <option value="STEM">STEM</option>
              <option value="Civics">Civics</option>
          </select><br><br><br><br>
         
          <p>We are Accepting New Students Come and entertain with KSHS kallamino Special High School</p><br>
          <div>
            <h2>Available Students They Entertain The nature of KSHS special School</h2><br>
            <img src="../imgs/p5.jpg" width="200%" >
            <img src="../imgs/life.jpg" width="200%">
            <img src="../imgs/photo_2023-11-25_01-23-15.jpg" width="200%">
            <img src="../imgs/photo_2023-11-25_01-28-17.jpg" width="200%">
      
          </div>
          
  </section>
            
        </div>
        
      </div>
    </div>
   
             
  <!-- Hero Section Ends -->




</body>
</html>
