<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../CSS/all.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logedin User HomePage</title>
</head>
<body>
  
    <!-- header file  -->
  <header>
    <nav>
      <div class="logo">
        <img src="../imgs/logoarayaz.jpg">
      </div>
      <div class="items">
        <a href="Admin.html" class="act">Home</a>
        <a href="Admission.html">Admission & Programe</a>
        
        <a href="#">Notifications</a>
        <a href="#"> About KSHS</a>
        
      </div>
  <!-- login form -->
      <div class="other">
        <button><a href="Home.html" class="href">Logout</a></button> 
      </div>

      <!-- registeration -->
     
      
    </nav>
  </header><br><br><br>
  
  <!-- Hero Section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="info">
         
          <h2 class="hero-heading">Anneversary KSHS 25 Year Congratulations!</h2>
          <p class="hero-sub-heading"> This is the day of celebration 
            to kellamino special high 
            school located on mekellle tigray</p>
          
          
  </section>
            
        </div>
        
      </div>
    </div>
  

           <div class="imgs">
                <img src="../imgs/p1.jpg" alt="">
                <img src="../imgs/photo_2023-11-25_01-23-15.jpg" alt="">
                
           </div>
             
  <!-- Hero Section Ends -->




</body>
</html>
