<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../CSS/all.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to KSHS Website Home</title>
</head>
<body>
  
    <!-- header file  -->
  <header>
    <nav>
      <div class="logo">
        <img src="logoarayaz.jpg">
      </div>
      <div class="items">
        <a href="Home.html" class="active">Home</a>
        <a href="login.html" class="addmission">Admission & Programe</a>
        <a href="Contact.html" class="addmission" >Contact</a>
        <a href="About.html" class="addmission">About</a>
        
      </div>
  <!-- login form -->
      <div class="other">
        <button><a href="login.html" class="href">Login</a></button> 
      </div>

      <!-- registeration -->
      <div class="other">
        <button > <a href="register.html" class="href"> sign up</a></button> 
      </div>
      
    </nav>
  </header><br><br><br><br>
  
  <!-- Hero Section -->
  <section>
    <div class="container">
      <div class="row">
        <div class="info">
          <div>
              <h1 style="text-align: center; ">Welcome To kallaminoSpecial Hig School Website</h1><br><br>
          </div><br>
          
          <h2 class="hero-heading">Anneversary KSHS 25 Year Congratulations!</h2>
          <p class="hero-sub-heading"> This is the day of celebration 
            to kellamino special high 
            school located on mekellle tigray</p>
            <button class="learn-more">
              Show more Photos</button>
          
  </section>
            
        </div>
        
      </div>
    </div>
  

           <div class="imgs">
                <img src="logoarayaz.jpg" alt="">
                <img src="p1.jpg" alt="">
                <img src="p3.jpg" alt="">
                
           </div>
           <div class="imgs">
            <img src="p2.jpg" alt="">
            
       </div>
             
  <!-- Hero Section Ends -->




</body>
</html>
