<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/register_login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to see programms</title>
</head>
<body>
    
    <div class="container">
        <form action="Admin.html" class="form">
            <div class="inner">
                   <h2 class="h2">Login form</h2><br>
                <div class="input">
                    <input type="email" name="email" placeholder="Enter email" required id="email"><br><br>
                   <input type="password" name="pass" id="pswd" placeholder="Enter Password" required><br><br>
                </div>
                        <div class="button"><br>
                            <input type="Submit" id="register" value="Login">&nbsp;&nbsp;&nbsp;
                            <input type="reset" value="Cancel" id="cancel"><br>
                            <a href="register.html">Not registered yet</a>
                        </div>
            </div>
        </form>
    </div>    
</body>
</html>