<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/register_login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <form action="Admin.html" class="form">
        <h2 class="h2">Registration form</h2>
        <input type="text" name="fname" placeholder="Enter name" required id="fname"><br><br>
        <input type="email" name="email" id="email" placeholder="Enter Email" required><br><br>
            <input type="text" name="phone no" id="phone" placeholder="Enter Phone No."><br><br>
               <input type="password" name="pass" id="pswd" placeholder="Enter new Password" required><br><br>
                <input type="password" name="confirm" id="confirm" placeholder="Re-type ur password" required><br><br>
                <div class="button">
                   <input type="submit" id="register" value="Register">&nbsp;&nbsp;&nbsp;&nbsp;
                   <input type="reset" value="Cancel" id="cancel"><br>
                   <a href="login.html">already signed up</a>
                </div>  
    </form>
    </div>
</body>
</html>